<style>
   hr {
     margin-top: 40px; 
     margin-bottom: 40px;
     }
   main h2 {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    main h3 {
        margin-top: 25px;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 1.5em;
    }
    main h4 {
      margin-top: 30px;
      font-weight: bold; 
    }
    td hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    summary {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 15px;
        color: green;
    }
    ol > li {
        padding-bottom: 0px!important;
    }
    ol > li > ul {
        padding-bottom: 0px!important;
    }
 </style>